<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px;" class="fas fa fa-car">&nbsp;

      </i>
      <strong style="font-size: 30px;">Autix</strong>



    </div>
    <div class="nav-item ">
      <a class="nav-link" href="home">Home</a>
      <a *ngIf="!this.storageService.isLoggedIn()" class="nav-link" href="login">Sign in</a>
      <a class="nav-link" href="map">Map</a>
    </div>

  </div>
</header>

<section class="vh-100 bg-image">
  <div class="desc">
    <h1 style="text-align: center; margin-bottom: 20px;">Autix</h1>
    <h3 style="text-align: center">Od 15 lat działamy w branży car sharingu</h3>
    <h3 style="text-align: center">Numer 1 na rynku</h3>
    <h2 style="text-align: center">Zachęcamy do współpracy: autix@europe.eu</h2>
  </div>
</section>
